.body{
    padding: 1rem;
}
.card-list{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    padding: 1rem;
    background: rgba(233,232,232);
    border-radius: 0.2rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    margin-bottom: 2rem;

    img{
height: 20rem;
width: 17rem;
    }
}
.card:hover{
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.votes-date{
    display: flex;
    justify-content: space-between;
}
.title{
    font-size: large;
}
.border{
    margin-top: 10px;
    border-top: 2px solid lightgray;
}
.flex{
    display: flex;
}
.rating{
    width: 10rem;
    height: 1rem;
    margin-top: 2px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}